{% extends 'song/base.html' %}

{% block Title %}
	Contact Details
{% endblock %}

{% block Content %}
	<div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-3">మా చిరునామా</h2>
        <address>
          <strong>పేరుకున్నవారు బి.ఎస్. మూర్తి బ్రహ్మానందం కృష్ణంరాజు</strong><br>
          87-1399/113, బ్రహ్మానందం నగర్<br>
          కర్నూలు – 518002<br>
          కర్నూలు జిల్లా<br>
          <abbr title="Phone">ఫోన్:</abbr> 9440244094, 08518 270027
        </address>
      </div>
    </div>
    </div>

{% endblock %}