{% extends 'song/base.html' %}
{% block Title %}
	Preface
{% endblock %}

{% block Content %}

<div class="container">
    <article class="mb-5  custom-text-area">
        <!-- Use p instead of div for text, with text-break to ensure wrapping -->

            <pre class="lyrics-pre">
                <h1 class="text-center"> <b>ముందు మాట </b></h1>
                <p class="text-break text-left ">
    కీర్తనీయుడు కీర్తనాకారుడైన క్రీస్తుయేసు నామమున శుభములు.
ఆయన వాక్యం ఒక కావ్యం. కీర్తనల రూపంలో ఆయన వాక్యమనే కావ్యాన్ని మన హృదయాల్లో అన్నివేళల నివసింపజేసికొనుచూ పాడాలని కీర్తించాలని ఒకరినొకరు హెచ్చరించుకోవాలని బుద్దిచెప్పుకోవాలని బోధించుకోవాలని బోధించబడింది. దేవుని కృపనుబట్టి తాను స్వరక్తమిచ్చి సంపాదించిన సంఘాలలో ఉన్న మనమందరం వ్యక్తిగతముగా సంఘాలుగా పై దేవుని వాక్యమును నెరవేర్చగలుగుచున్నాం. అసెంబ్లీస్ ప్రారంభం నుండి ఆనేక మంది భక్తులు తమ హృదయాంతరంగాల్లో నుండి భక్తుల ఆత్మీయ క్షేమం కొరకు ఆనేక కీర్తనలు లేఖనానుసారంగా అసెంబ్లీస్కు అందించారు ఆలపించారు ఆలపిస్తూనే ఉన్నారు. ఇందులో వారి వ్యక్తిగత అనుభవాలున్నాయి వాక్యతలంపులు ఉన్నాయి అవసరమైన బోధలూ ఉన్నాయి. ఆన్నీ అభినందనీయమే ఆచరణీయమే.
అదే సమయంలో వివిధ శాఖలకు చెందిన వారు వాక్య క్రమంలో వ్రాసిన పాటలు కూడా మన అసెంబ్లీస్ లో వాడుతున్నాం పాడుతున్నాం.
అనేక దశాబ్దాలనుండి అనేకమంది దేవుని పిల్లలు వ్యయ ప్రయాసలకోర్చి రక్షణ సునాద కీర్తనలుగా, బైబిల్ పాటలుగా, క్రైస్తవ సునాద కీర్తనలుగా, క్రైస్తవ రక్షణ సునాద కీర్తనలుగా, ప్రత్యేక పాటలుగా సప్లిమెంట్గా పెద్ద పుస్తకాలుగా ఆయా సందర్భాలలో అవసరాన్నిబట్టి అసెంబ్లీసక్కు అందించారు. దేవునికే మహిమ కలుగునుగాక!
మన సంఘాలమధ్య ఆయా సందర్భాలలో ఆనగా మహాసభల్లోనూ, యూత్క్యాంప్స్ లోనూ, సోదరీల సభల్లోనూ, బైబిల్ తరగతుల్లోనూ, స్థానిక సంఘాల ప్రత్యేక కూడికల్లోనూ పాడుకున్న పాటల్లో కొన్ని పాటలు ప్రార్ధనా పూర్వకముగా ఏరి కూర్చి <strong>క్రైస్తవ రక్షణ సునాద కీర్తనలు</strong> గా అందించుటకు ప్రభువు తన సమృద్ధియైన కృపను చూపించారు.
ఇందులో పొందుపరచిన పాటల్లో కొన్ని మీరు ఆశించినవి ఉండవచ్చు మరికొన్ని ఉండకపోవచ్చు. ప్రభువు చిత్తమైతే తరువాతి ప్రచురణల్లో పొందుపరచగలము. ఇందులోని పాటల భావాన్ని గ్రహిస్తూ ప్రార్థనాపూర్వకముగా హృదయపూర్వకముగా రాగయుక్తముగా తాళబద్దముగా పాడడానికి ప్రాముఖ్యతనివ్వండి. ఒకవేళ సరియైన రాగం మీకు తెలియకపోతే క్రొత్తరాగాలు సృష్టించకుండా తెలిసినవారిని అడిగి
తెలుసుకోండి లేదా మమ్మునైనా సంప్రదించండి. క్రిష్టియన్ బ్రదరన్ అసెంబ్లీస్ పరిచర్యల కొరకు మరువక ప్రార్థించండి.
                    వందనములతో
                    <strong>క్రిష్టియన్ బ్రదరన్ అసెంబ్లీస్ తరుపున</strong>
                    మీ సహోదరుడు క్రీస్తుయేసు దాసుడు
                    <strong>జాన్ మోజెస్ దామెరాకుల </strong>
                </p>
            </pre>

    </article>

</div>

{% endblock %}
